* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f7d9;
}

.center {
    color: white;
    width: 1000px;
    line-height: 40px;
    text-align: left;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
td,
th {
    text-align: left;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #eadbf8;
}

body {
    font: 16px Arial;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-right: 500px;
}

input[type=text] {
    background-color: #e5e5e5;
    width: 400px;
}

input[type=submit] {
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.contact-picture {
    height: 100px;
    width: 90px;
    display: block;
    margin: auto;
}

.jawatan {
    color: #b9b3b3;
}

.s1 {
    width: 80px;
}

.s2 {
    width: 400px;
    color: #000;
}

.s3 {
    width: 200px;
    color: black;
}

.kemas-text {
    position: static;
    margin-top: 60px;
    margin-bottom: -20px;
    text-align: center;
}