.logout-btn{
    width: 50px;
    height: 30px;
    background-color: red;
    border-radius: 20px;
}

.logout-img{
    width: 20px;
    height: 20px;
}

.btn-yes{
    width: 70px;
    height: 30px;
    background-color: rgb(55, 216, 87);
    color: white;
    border: white;
    cursor: pointer;
}

.btn-no{
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    border: white;
    cursor: pointer;
}

.upload-form{
    margin: auto;
    display: block;
    border: solid 2px #5b5a5a;
    width: 50%;
    height: 400px;
}